body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
}

nav {
  position: relative;
  background: #1e90ff;
  border: none;
  text-align: center;
  display: block;
  padding: 2em 0;
  margin-left: -540px;
  width: 180px;
  height: 100%;
  text-align: left;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: auto;
}

nav .menu-link:hover,
nav .menu-link:focus {
  background: #778;
}

nav .menu-link {
  color: #fff;
  margin-left: 0.5em;
  display: block;
  text-decoration: none;
  white-space: nowrap;
}

nav .menu-list {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav .menu-item {
  position: relative;
  padding: 0;
  margin: 0;
  height: 100%;
}

nav #logo {
  display: flex;
  margin-left: 0.5em;
}

nav #logo img {
  filter: brightness(100);
  width: 2em;
}

nav #logo span {
  color: #fff;
  font-size: x-large;
  margin: 0.1em;
}

#layout,
#list,
#main {
  margin: 0;
  padding: 0;
}

.mail-item {
  padding: 0.9em 1em;
  border-bottom: 1px solid #ddd;
  border-left: 4px solid transparent;
  cursor: pointer;
}

.mail-item:focus {
  background: #eee;
  border-left: 4px solid #999;
  cursor: auto;
}

.mail-subject {
  margin: 0;
}

.mail-from,
.mail-to {
  overflow: hidden;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #999;
  margin: 0;
}

.mail-from::before {
  color: red;
  content: "↗";
}

.mail-to::before {
  color: green;
  content: "↘";
}

.mail-content-header,
.mail-content-body,
.mail-content-footer {
  padding: 1em 2em;
}

.mail-content-header {
  border-bottom: 1px solid #ddd;
}

.mail-content-title {
  margin: 0.5em 0 0;
}

.mail-content-subtitle {
  font-size: 1em;
  margin: 0;
  font-weight: normal;
}

.mail-content-controls {
  margin-top: 2em;
  text-align: right;
}

.mail-attachment {
  border-radius: 8px;
  border: 2px solid #eee;
  display: inline-block;
  padding: 8px;
  margin: 8px;
}

.mail-attachment::before {
  content: "📎";
  padding: 8px;
}

.mail-attachment-size {
  color: #999;
}

#layout {
  padding-left: 540px;
  position: relative;
}

#list {
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: auto;
}

#mail-count {
  color: #aaa;
}

#list {
  margin-left: -360px;
  width: 360px;
  height: 100%;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

#main {
  position: static;
  margin: 0;
  padding: 0;
  right: 0;
  bottom: 0;
  left: 160px;
  overflow: auto;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

#preview-html,
#preview-plain,
#preview-headers {
  margin: 0;
  padding: 0;
  border: none;
  flex-grow: 1;
}

#preview-plain,
#preview-headers {
  margin: 1em;
}

.hidden {
  display: none !important;
}
